  .square-img {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Mantiene un aspecto cuadrado */
    position: relative;
    overflow: hidden;
  }

  .square-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen sin distorsionarla */
  }
